<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/content/jquery-3.7.1.min.js"></script>
    <script src="~/content/jquery.validate.min.js"></script>
    <script src="~/content/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/content/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Header Page of the Application</h1>
    <hr />
    <nav>
        <spna>
            @Html.ActionLink("Home", "Index","Home");
            @Html.ActionLink("All Employees", "Index", "Employee");
            @Html.ActionLink("Add New", "AddNew", "Employee");
        </spna>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
